*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

html{
    font-size: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.c1,
.c2,
.c3,
.c4,
.c5{
    width: 100%;
    min-width: 150px;
    height: 150px;
}

.c1{
    background-color:orange;
}
.c2{
    background-color:yellow;
}

.c3{
    background-color:khaki;
}

.c4{
    background-color:lightgoldenrodyellow;
}

.c5{
    background-color:linen;
}