/*.container{
    width: 960px;
    margin:0 auto;
}*/

.c1{
    width: 25%;
    order: 1;
}

.c2{
    width: 35%;
    order: 2;
}

.c3{
    width: 40%;
    order: 3;
}

.c4{
    width: 100%;
    order: 4;
}

.c5{
    width: 100%;
    order: 5;
}
