*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.block-element{
    background-color: teal;
    margin: 10px;
    padding: 20px;
    color: whitesmoke;
    font-family: fantasy;
}

.nav{
    background-color: thistle;
    padding: 20px;
    list-style: none;
    text-align: center;
    color: whitesmoke;
    font-family: fantasy;
}

.nav li{
    display: inline-block;
    font-size: 1.25rem;
    margin: 10px 0;
    padding: 0 20px;
}

li:hover{
    color: tomato;
    text-decoration: underline tomato ;
}