*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: indianred;
    font-family: serif;
    margin-bottom: 20px;
}

.title{
    font-size: 18px;
    font-family: monospace;
}

.nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li{
    display: inline-block;
}

.nav a{
    color: white;
    background-color: #13a4a4;
    padding: 7px;
    border-radius: 2px;
    text-decoration: none;
}

/* Todas las etiquetas a que esten dentro del contenedor, decendiente*/

.nav .blog{
    background-color: orange;
}