*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: indianred;
    font-family: serif;
    margin-bottom: 20px;
}

#page-title{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-size: 18px;
    font-family: monospace;
}

#main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

#main-nav li{
    display: inline-block;
}

#main-nav a{
    color: white;
    background-color: #13a4a4;
    padding: 7px;
    border-radius: 2px;
    text-decoration: none;
}

#main-nav .blog{
    background-color: orange;
}