*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 100%;
}
body{
    font-size: 1.5rem;
}

.container{
    border: .15rem solid black;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}

.box{
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}

.box1{
    background-color: cornflowerblue;
    /*flex-grow: 1; toma el espacio que sobre en la pantalla*/
}
.box2{
    background-color: crimson;
}
.box3{
    background-color: darkorange;
}
.box4{
    background-color:greenyellow;
}
.box5{
    background-color: yellow;
}
.box6{
    background-color: violet;
}
