*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: crimson;
    display: flex;
}

figure{
    padding: 20px;
    margin-left: 30px;
    flex-grow: 1;
}

img{
    width: 85px;
}

nav{
    padding: 30px;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: lavenderblush;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    display: flex;
    height: 73vh;
}

aside{
    width: 30vw;
    align-items: stretch; 
    background-color: cyan;
}

.box{
    border: lightsalmon solid 1px;
    background-color: lightslategray;
    height: 6rem;
    width: 15rem;
    margin: 20px 70px;
}

section{
    width: 70vw;
    align-items: stretch;
    background-color: greenyellow;
}

footer{
    background-color: hotpink;
    height: 11vh;
}