/*
main{
    background-color: blueviolet;
    width: 500px;
    height: 500px;
}

p{
    font-size: 16px;
    color: cornsilk;
}
*/
/*
body{
    font-size: 15px;
}

.text-container{
    font-size: 1.5em;
}

.text-container div{
    font-size: 1.5em;
}
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    font-size: .8rem;
}