*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.parent{
    border: 2px lightslategray dotted; /*dotted-->punteado*/
    display: inline-block;   
}

.box{
    display: inline-block;
    background-color: orange;
    width: 200px;
    height: 200px;
}

#tres{
    background-color: springgreen;
}

/* targeta de vrz*/
.main{
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

.main-box{
    background-color: steelblue;
    width: 200px;
    height: 35px;
    border-radius: 20px;
}
.main-box{
    position: relative;
    left: 45%;
    top: 15px;
    z-index: 1;
}

.main-title{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 8px;
}

.main-box_dos{
    background-color: yellowgreen;
    width: 30vw;
    height: 68vh;
    border-radius: 10px;
}

.main-box_dos{
    position: absolute;
    left: 36%;
}

.main-box_dos img{
    width: 200px;
    height: 300px;
    position: relative;
    left: 31%;
    top: 50px;
}

.box-title, .box-age, .box-status{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 8px;
    position: relative;
    top:60px;
}